<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rc.rsm.mapper.RsmPatrolPointMapper">
    <resultMap type="RsmPatrolPoint" id="RsmPatrolPointResult">
        <result property="id"    column="id"    />
        <result property="patrolName"    column="patrol_name"    />
        <result property="patrolDesc"    column="patrol_desc"    />
        <result property="position"    column="position"    />
        <result property="locationDescribe"    column="location_describe"    />
        <result property="securityOfficer"    column="security_officer"    />
        <result property="lastPatrolTime"    column="last_patrol_time"    />
        <result property="patrolFrequency"    column="patrol_frequency"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>
    <sql id="selectRsmPatrolPointVo">
        select id, patrol_name, patrol_desc, position, location_describe, security_officer, last_patrol_time, patrol_frequency, status, del_flag, create_by, create_time, update_by, update_time, remark from rsm_patrol_point
    </sql>
    <select id="selectRsmPatrolPointList" parameterType="RsmPatrolPoint" resultMap="RsmPatrolPointResult">
        <include refid="selectRsmPatrolPointVo"/>
        <where>  
            <if test="patrolName != null  and patrolName != ''"> and patrol_name like concat('%', #{patrolName}, '%')</if>
            <if test="patrolDesc != null  and patrolDesc != ''"> and patrol_desc = #{patrolDesc}</if>
            <if test="position != null  and position != ''"> and position = #{position}</if>
            <if test="locationDescribe != null  and locationDescribe != ''"> and location_describe = #{locationDescribe}</if>
            <if test="securityOfficer != null  and securityOfficer != ''"> and security_officer = #{securityOfficer}</if>
            <if test="lastPatrolTime != null "> and last_patrol_time = #{lastPatrolTime}</if>
            <if test="patrolFrequency != null "> and patrol_frequency = #{patrolFrequency}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectRsmAllPatrolPoint" parameterType="RsmPatrolPoint" resultMap="RsmPatrolPointResult">
        <include refid="selectRsmPatrolPointVo"/>
        <where>
            <if test="patrolName != null  and patrolName != ''"> and patrol_name like concat('%', #{patrolName}, '%')</if>
            <if test="patrolDesc != null  and patrolDesc != ''"> and patrol_desc = #{patrolDesc}</if>
            <if test="position != null  and position != ''"> and position = #{position}</if>
            <if test="locationDescribe != null  and locationDescribe != ''"> and location_describe = #{locationDescribe}</if>
            <if test="securityOfficer != null  and securityOfficer != ''"> and security_officer = #{securityOfficer}</if>
            <if test="lastPatrolTime != null "> and last_patrol_time = #{lastPatrolTime}</if>
            <if test="patrolFrequency != null "> and patrol_frequency = #{patrolFrequency}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectRsmPatrolPointById" parameterType="Long" resultMap="RsmPatrolPointResult">
        <include refid="selectRsmPatrolPointVo"/>
        where id = #{id}
    </select>


    <insert id="insertRsmPatrolPoint" parameterType="RsmPatrolPoint" useGeneratedKeys="true" keyProperty="id">
        insert into rsm_patrol_point
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="patrolName != null and patrolName != ''">patrol_name,</if>
            <if test="patrolDesc != null and patrolDesc != ''">patrol_desc,</if>
            <if test="position != null">position,</if>
            <if test="locationDescribe != null">location_describe,</if>
            <if test="securityOfficer != null">security_officer,</if>
            <if test="lastPatrolTime != null">last_patrol_time,</if>
            <if test="patrolFrequency != null">patrol_frequency,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="patrolName != null and patrolName != ''">#{patrolName},</if>
            <if test="patrolDesc != null and patrolDesc != ''">#{patrolDesc},</if>
            <if test="position != null">#{position},</if>
            <if test="locationDescribe != null">#{locationDescribe},</if>
            <if test="securityOfficer != null">#{securityOfficer},</if>
            <if test="lastPatrolTime != null">#{lastPatrolTime},</if>
            <if test="patrolFrequency != null">#{patrolFrequency},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateRsmPatrolPoint" parameterType="RsmPatrolPoint">
        update rsm_patrol_point
        <trim prefix="SET" suffixOverrides=",">
            <if test="patrolName != null and patrolName != ''">patrol_name = #{patrolName},</if>
            <if test="patrolDesc != null and patrolDesc != ''">patrol_desc = #{patrolDesc},</if>
            <if test="position != null">position = #{position},</if>
            <if test="locationDescribe != null">location_describe = #{locationDescribe},</if>
            <if test="securityOfficer != null">security_officer = #{securityOfficer},</if>
            <if test="lastPatrolTime != null">last_patrol_time = #{lastPatrolTime},</if>
            <if test="patrolFrequency != null">patrol_frequency = #{patrolFrequency},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRsmPatrolPointById" parameterType="Long">
        delete from rsm_patrol_point where id = #{id}
    </delete>

    <delete id="deleteRsmPatrolPointByIds" parameterType="String">
        delete from rsm_patrol_point where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>